*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(../img/chibby_biker.png);
    /* backdrop-filter: blur(3px); */
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    
  }

h2{
    margin-bottom: 5px;
}

a{
    text-decoration: none;
}

.contenedorPrincipal{
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: auto;
    backdrop-filter: blur(1px);
    background-color: rgba(124, 150, 175, 0.5);
    border-radius: 20px;
}

.contenedorPrincipal .login{
    margin-top: 100px;
    width: 100%;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input, button, select{
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding: 20px 30px;
    bottom: none;
    outline: none;
    margin-bottom: 30px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

input:focus{
    border: 2px solid #16dede;
    transition: .6s ease all;
}

button{
    background-image: linear-gradient(to right, #642b73 10%, #c6496e 100%);
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
button:hover{
    opacity: .9;
    border-color: #16dede;
    transition: .3s ease all;
}

.registro{
    color: #707070;
    font-size: 14px;
    margin-top: 4px;
}

.registro a{
    color: #16dede;
}